<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pet.birthday %>
</p>

<table class="table">
<thead>
<tr>
<th>weight</th>
<th>height</th>
<th>avg_weight</th>
<th>avg_height</th>
<th>max_weight</th>
<th>max_height</th>
</tr>
</thead>
<tbody>
<tr>
<td scope="row"></td>
<td><%= @pet.pet_weight%></td>
<td><%= @pet.pet_height%></td>
<td><%= @pet.avg_weight%></td>
<td><%= @pet.avg_height%></td>
<td><%= @pet.max_weight%></td>
<td><%= @pet.max_height%></td>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
